@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'TikTokText-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../../../src/assets/fonts/TikTokText-Regular.otf);
}

@font-face {
    font-family: 'TikTokText-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(../../../src/assets/fonts/TikTokText-Medium.otf);
}

@font-face {
    font-family: 'TikTokText-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(../../../src/assets/fonts/TikTokText-Bold.otf);
}

:root {
    --primary-color: #fe2c55;
    --text-color: rgb(22, 24, 35);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    // font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'TikTokText-Regular', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    // font-optical-sizing: auto;
    // font-style: normal;
    // font-variation-settings: 'wdth' 100;
}

button, input, [tabindex] {
    outline: none;
    border: none;
    color: var(--text-color)
}

a[href] {
    text-decoration: none;
    color: var(--text-color)
}