@import 'normalize.css';

@font-face {
    font-family: 'TikTokText-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../../../src/assets/fonts/TikTokText-Regular.otf);
}

@font-face {
    font-family: 'TikTokText-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(../../../src/assets/fonts/TikTokText-Medium.otf);
}

@font-face {
    font-family: 'TikTokText-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(../../../src/assets/fonts/TikTokText-Bold.otf);
}

@font-face {
    font-family: 'TikTokDisplay-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../../../src/assets/fonts/TikTokDisplay-Regular.otf);
}

@font-face {
    font-family: 'TikTokDisplay-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(../../../src/assets/fonts/TikTokDisplay-Medium.otf);
}

@font-face {
    font-family: 'TikTokDisplay-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(../../../src/assets/fonts/TikTokDisplay-Bold.otf);
}

:root {
    --primary-color: #fe2c55;
    --text-color: rgb(22, 24, 35);
    --search-hover-bg: rgba(22, 24, 35, 0.06);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'TikTokText-Regular', 'TikTokDisplay-Regular', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    // font-optical-sizing: auto;
    // font-style: normal;
    // font-variation-settings: 'wdth' 100;
}

button, input, [tabindex] {
    outline: none;
    border: none;
    color: var(--text-color)
}

a[href] {
    text-decoration: none;
    color: var(--text-color)
}