.wrapper {
    width: 240px;
    flex-shrink: 0;
    z-index: 99;
    transition: width 0.4s ease;
    display: flex;
}

.wrapper.collapsed {
    width: 72px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: clip hidden; // Prevent scrollbars bounce, scroll chaining
    overscroll-behavior: contain; 
    flex-direction: column;
    background-color: var(--ui-page-flat-1);
    padding: 0 16px;
}

.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 8px;
    gap: 16px;
}

.header-logo {
    width: 100%;
    display: flex;
    padding-left: 8px;
    line-height: 0;
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-btn {
    font-family: var(--font-family-regular) !important;
    padding: 10px 0 !important;
    padding-left: 10px !important;
    color: var(--ui-text-placeholder) !important;
    gap: 2px !important
}

.drawer-container {
    width: 0px;
    height: 100vh;
    position: fixed;
    left: 72px;
    z-index: 99;
    background: rgba(255, 255, 255, 1);
    transition: width 0.4s ease, transform 0.2s ease, opacity 0.4s ease;
    transform: translateX(-50px);
    opacity: 0; 
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.drawer-container.show {
    width: 320px;
    transform: translateX(0);
    opacity: 1;
}

